body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Text-Frame {
	border-style:solid;
}
table.Basic-Table {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Basic-Table {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
td._1-BCSC-table-title {
	border-bottom-color:#bcbec0;
	border-bottom-width:2px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:0px;
	padding-right:0px;
	padding-top:4px;
}
td._3-BCSC-table-column-head {
	border-bottom-color:#bcbec0;
	border-bottom-width:2px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:5px;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	vertical-align:bottom;
}
td._4-BCSC-table-body-first-row {
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:3px;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
}
td._5-BCSC-table-body {
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:3px;
	padding-left:0px;
	padding-right:0px;
	padding-top:2px;
}
td._7-BCSC-table-body-last-row {
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:9px;
	padding-left:0px;
	padding-right:0px;
	padding-top:2px;
}
td._8-BCSC-table-note {
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-width:1px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:6px;
}
p.QR-code-caption-first {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:36px;
	margin-right:0;
	margin-top:9px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.QR-code-source {
	color:#000000;
	font-family:"Univers LT Std 45 Light Oblique", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.429;
	margin-bottom:0;
	margin-left:36px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.QR-code-text-last {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:6px;
	margin-left:36px;
	margin-right:0;
	margin-top:1px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.activity-intro {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.263;
	margin-bottom:18px;
	margin-left:21px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-21px;
	text-transform:none;
	widows:2;
}
p.body-text {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:18px;
	text-transform:none;
	widows:2;
}
p.body-text--no-indent- {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.bullet-list-first {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:27px;
	margin-right:0;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.bullet-list-last {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:6px;
	margin-left:27px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.bullet-list-mid {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:27px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.chapter-number {
	-epub-hyphens:none;
	color:#6b9bd2;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:30px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:2px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.chapter-title {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:27px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.185;
	margin-bottom:68px;
	margin-left:2px;
	margin-right:0;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.figure-caption {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.h1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:20px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h2 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.455;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:13px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h2-h1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.455;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h3 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed Oblique", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.048;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	margin-top:10px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.reference-first {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0;
	margin-left:27px;
	margin-right:18px;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:2;
}
p.reference-last {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:6px;
	margin-left:27px;
	margin-right:18px;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:2;
}
p.table-body {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 55 Roman", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:2;
}
p.table-column-head {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.table-footnote {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 55 Roman", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0;
	margin-left:5px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-4px;
	text-transform:none;
	widows:2;
}
p.table-title {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
span.QR-code-number {
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.cn-chap {
	color:#6b9bd2;
	font-size:13px;
	font-variant:normal;
	text-transform:uppercase;
}
span.figure-caption_bold {
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.figure-caption_symbol {
	font-style:normal;
	font-weight:normal;
}
span.figure-number {
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.figure-source-note {
	font-family:"Univers LT Std 45 Light Oblique", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:normal;
}
span.greek {
	font-style:normal;
	font-weight:normal;
}
span.italic {
	font-style:italic;
	font-weight:normal;
}
span.qr-code-source_italic {
	font-style:oblique;
	font-weight:normal;
}
span.table-body_italic {
	font-family:"Univers LT Std 55 Oblique", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.table-body_superscript {
	vertical-align:super;
}
span.table-footnote_superscript {
	vertical-align:super;
}
span.table-number {
	font-size:8px;
}
span.video-list_italic {
	font-family:"Minion Pro Italic", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.xref-figure {
	color:#000000;
}
span.xref-local {
	font-style:normal;
	font-weight:normal;
}
span.xref-table {
	color:#000000;
	font-size:11px;
}
span.xref-video {
	font-style:normal;
	font-weight:normal;
}
td.CellOverride-1 {
	padding-bottom:5px;
	padding-top:5px;
}
td.CellOverride-2 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-left-color:#000000;
	border-left-style:solid;
	border-right-color:#000000;
	border-right-style:solid;
}
td.CellOverride-3 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-left-color:#000000;
	border-left-style:solid;
	border-right-color:#000000;
	border-right-style:solid;
	border-top-color:#000000;
	border-top-style:solid;
	padding-top:4px;
}
td.CellOverride-4 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-left-color:#000000;
	border-left-style:solid;
	border-right-color:#000000;
	border-right-style:solid;
	border-top-color:#000000;
	border-top-style:solid;
	padding-top:2px;
}
td.CellOverride-5 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-left-color:#000000;
	border-left-style:solid;
	border-right-color:#000000;
	border-right-style:solid;
	border-top-color:#000000;
	border-top-style:solid;
}
td.CellOverride-6 {
	border-left-color:#000000;
	border-left-style:solid;
	border-right-color:#000000;
	border-right-style:solid;
	border-top-style:solid;
}
td.CellOverride-7 {
	padding-top:4px;
}
td.CellOverride-8 {
	padding-top:2px;
}
p.ParaOverride-1 {
	margin-bottom:0px;
	margin-left:24px;
	text-indent:0px;
}
p.ParaOverride-2 {
	orphans:1;
	widows:1;
}
p.ParaOverride-3 {
	margin-left:46px;
}
p.ParaOverride-4 {
	margin-top:9px;
}
span.CharOverride-1 {
	font-size:30px;
}
span._idGenCharOverride-1 {
	font-size:65%;
}
td._idGenCellOverride-1 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
}
td._idGenCellOverride-2 {
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
}
td._idGenCellOverride-3 {
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
}
col._idGenTableRowColumn-1 {
	width:145px;
}
col._idGenTableRowColumn-2 {
	width:12px;
}
col._idGenTableRowColumn-3 {
	width:74px;
}
col._idGenTableRowColumn-4 {
	width:129px;
}
tr._idGenTableRowColumn-5 {
	min-height:15px;
}
tr._idGenTableRowColumn-6 {
	min-height:16px;
}
tr._idGenTableRowColumn-7 {
	min-height:33px;
}
tr._idGenTableRowColumn-8 {
	min-height:32px;
}
tr._idGenTableRowColumn-9 {
	min-height:14px;
}
tr._idGenTableRowColumn-10 {
	min-height:40px;
}
tr._idGenTableRowColumn-11 {
	min-height:22px;
}
tr._idGenTableRowColumn-12 {
	min-height:49px;
}
tr._idGenTableRowColumn-13 {
	min-height:11px;
}
col._idGenTableRowColumn-14 {
	width:111px;
}
col._idGenTableRowColumn-15 {
	width:116px;
}
col._idGenTableRowColumn-16 {
	width:121px;
}
tr._idGenTableRowColumn-17 {
	min-height:23px;
}
tr._idGenTableRowColumn-18 {
	min-height:20px;
}
tr._idGenTableRowColumn-19 {
	min-height:30px;
}
tr._idGenTableRowColumn-20 {
	min-height:12px;
}
tr._idGenTableRowColumn-21 {
	min-height:29px;
}
#_idContainer000 {
	display:inline-block;
	height:19px;
	width:19px;
}
#_idContainer001 {
	display:inline-block;
	height:36px;
	width:36px;
}
#_idContainer004 {
	-ms-transform:translate(0.000px,403.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,403.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:56.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,403.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,403.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer005 {
	-ms-transform:translate(19.599px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(19.599px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:397.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(19.599px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(19.599px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:332.80px;
	z-index:0;
}
#_idContainer006 {
	display:inline-block;
	height:460px;
	position:relative;
	width:372px;
}
#_idContainer007 {
	-ms-transform:translate(0.000px,227.514px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,227.514px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,227.514px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,227.514px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer008 {
	-ms-transform:translate(62.942px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(62.942px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:220.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.942px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(62.942px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:246.11px;
	z-index:0;
}
#_idContainer009 {
	display:inline-block;
	height:264px;
	position:relative;
	width:372px;
}
#_idContainer010 {
	display:inline-block;
	height:26px;
	width:27px;
}
#_idContainer011 {
	-ms-transform:translate(0.000px,405.311px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,405.311px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:66.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,405.311px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,405.311px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer012 {
	-ms-transform:translate(39.923px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(39.923px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:398.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(39.923px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(39.923px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:292.15px;
	z-index:0;
}
#_idContainer013 {
	display:inline-block;
	height:472px;
	position:relative;
	width:372px;
}
#_idContainer014 {
	-ms-transform:translate(0.000px,343.295px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,343.295px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,343.295px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,343.295px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer015 {
	-ms-transform:translate(58.530px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(58.530px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:341.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(58.530px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(58.530px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:254.94px;
	z-index:0;
}
#_idContainer016 {
	display:inline-block;
	height:380px;
	position:relative;
	width:372px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
