body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.CAP {
	border-style:solid;
}
div.CAP1 {
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
div.qrcode-right {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.video-icon-right {
	border-style:solid;
}
table.No-Table-Style {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.No-Table-Style {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
td.TB {
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:2px;
	padding-left:0px;
	padding-right:0px;
	padding-top:2px;
}
td.TBF {
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:2px;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
}
td.TBL {
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:9px;
	padding-left:0px;
	padding-right:0px;
	padding-top:2px;
}
td.TCH {
	border-bottom-color:#bcbec0;
	border-bottom-width:2px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:5px;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	vertical-align:bottom;
}
td.TT {
	border-bottom-color:#bcbec0;
	border-bottom-width:2px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:0px;
	padding-right:0px;
	padding-top:4px;
}
p.QR-code-caption-first-recto {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:36px;
	margin-right:45px;
	margin-top:9px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.QR-code-source-recto {
	color:#000000;
	font-family:"Univers LT Std 45 Light Oblique", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.429;
	margin-bottom:0;
	margin-left:0;
	margin-right:45px;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.body-text {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:18px;
	text-transform:none;
	widows:2;
}
p.body-text--no-indent- {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.bullet-list-mid {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:27px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.chapter-number {
	-epub-hyphens:none;
	color:#f7934d;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:30px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:2px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:always;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.chapter-title {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:27px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.185;
	margin-bottom:68px;
	margin-left:2px;
	margin-right:0;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.equation-single {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:7px;
	orphans:99;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:18px;
	text-transform:none;
	widows:1;
}
p.figure-caption {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.glossary-entry {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.glossary-entry-last {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:21px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.glossary-head {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:9px;
	margin-left:0;
	margin-right:0;
	margin-top:20px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.h1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:20px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h2 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.455;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:13px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h2-h1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.455;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h3 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed Oblique", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.048;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	margin-top:10px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h3-h2 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed Oblique", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.048;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.reference-first {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0;
	margin-left:27px;
	margin-right:18px;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:2;
}
p.section-3-exercises--answer- {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:44px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-44px;
	text-transform:none;
	widows:2;
}
p.section-3-exercises--question-choice- {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:56px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-12px;
	text-transform:none;
	widows:2;
}
p.section-3-exercises--question- {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:44px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-44px;
	text-transform:none;
	widows:2;
}
p.table-body {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 55 Roman", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:2;
}
p.table-column-head {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.table-title {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.video-list-co {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:10px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.263;
	margin-bottom:0;
	margin-left:24px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-23px;
	text-transform:none;
	widows:2;
}
span.QR-code-number {
	color:#f7934d;
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.cn-chap {
	color:#f7934d;
	font-size:13px;
	font-variant:normal;
	text-transform:uppercase;
}
span.equation_greek {
	font-style:normal;
	font-weight:normal;
}
span.equation_italic {
	font-style:italic;
	font-weight:normal;
}
span.equation_symbol {
	font-family:"Symbol (TT) Symbol", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.figure-caption_bold {
	font-style:normal;
	font-weight:bold;
}
span.figure-caption_greek {
	font-family:"Myriad Pro Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.figure-caption_greek_italic {
	font-family:"Myriad Pro Light", sans-serif;
	font-style:italic;
	font-weight:300;
}
span.figure-caption_italic {
	font-style:oblique;
	font-weight:normal;
}
span.figure-caption_subscript {
	vertical-align:sub;
}
span.figure-caption_subscript_italic {
	font-style:oblique;
	font-weight:normal;
	vertical-align:sub;
}
span.figure-caption_superscript {
	vertical-align:super;
}
span.figure-caption_symbol {
	font-style:normal;
	font-weight:normal;
}
span.figure-number {
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.figure-source-emphasis {
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:normal;
}
span.figure-source-note {
	font-family:"Univers LT Std 45 Light Oblique", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:normal;
}
span.glossary {
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.glossary-entry_italic {
	font-style:italic;
	font-weight:normal;
}
span.greek_italic {
	font-style:italic;
	font-weight:normal;
}
span.greek_subscript {
	vertical-align:sub;
}
span.italic {
	font-style:italic;
	font-weight:normal;
}
span.italic_subscript {
	font-style:italic;
	font-weight:normal;
	vertical-align:sub;
}
span.reference_italic {
	font-style:italic;
	font-weight:normal;
}
span.section-3-exercises--answer-_bold {
	font-style:normal;
	font-weight:bold;
}
span.section-3-exercises--answer-_symbol {
	font-family:"Symbol (TT) Symbol", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.subscript {
	vertical-align:sub;
}
span.superscript {
	vertical-align:super;
}
span.symbol {
	font-family:"Symbol (TT) Symbol", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.symbol-italic {
	font-family:"Symbol (TT) Symbol", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.symbol_superscript {
	font-family:"Symbol (TT) Symbol", sans-serif;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.table-body_greek_italic {
	font-style:oblique;
	font-weight:normal;
}
span.table-body_italic {
	font-style:oblique;
	font-weight:normal;
}
span.table-body_subscript {
	vertical-align:sub;
}
span.table-body_superscript {
	vertical-align:super;
}
span.table-body_symbol {
	font-style:normal;
	font-weight:normal;
}
span.table-body_symbol_superscript {
	vertical-align:super;
}
span.table-number {
	font-size:8px;
}
span.video-list_Hyperlink {
	font-variant:normal;
	text-transform:none;
}
span.xref-figure {
	color:#000000;
	font-variant:normal;
	text-transform:none;
}
span.xref-local {
	font-variant:normal;
	text-transform:none;
}
span.xref-table {
	color:#000000;
	font-size:11px;
	font-variant:normal;
	text-transform:none;
}
span.xref-vid {
	font-variant:normal;
	text-transform:none;
}
td.CellOverride-1 {
	padding-left:11px;
}
p.ParaOverride-1 {
	margin-right:44px;
}
p.ParaOverride-2 {
	margin-bottom:16px;
	margin-right:45px;
}
p.ParaOverride-3 {
	margin-bottom:2px;
	margin-top:26px;
}
p.ParaOverride-4 {
	margin-bottom:5px;
	margin-top:21px;
}
p.ParaOverride-5 {
	margin-left:0px;
	text-indent:0px;
}
span.CharOverride-1 {
	font-size:65%;
}
span.CharOverride-2 {
	font-style:normal;
	font-weight:normal;
}
span._idGenCharOverride-1 {
	font-size:65%;
}
col._idGenTableRowColumn-1 {
	width:74px;
}
col._idGenTableRowColumn-2 {
	width:10px;
}
col._idGenTableRowColumn-3 {
	width:94px;
}
col._idGenTableRowColumn-4 {
	width:88px;
}
col._idGenTableRowColumn-5 {
	width:86px;
}
tr._idGenTableRowColumn-6 {
	min-height:15px;
}
tr._idGenTableRowColumn-7 {
	min-height:16px;
}
tr._idGenTableRowColumn-8 {
	min-height:23px;
}
tr._idGenTableRowColumn-9 {
	min-height:40px;
}
tr._idGenTableRowColumn-10 {
	min-height:20px;
}
tr._idGenTableRowColumn-11 {
	min-height:30px;
}
tr._idGenTableRowColumn-12 {
	min-height:26px;
}
col._idGenTableRowColumn-13 {
	width:98px;
}
col._idGenTableRowColumn-14 {
	width:85px;
}
col._idGenTableRowColumn-15 {
	width:36px;
}
col._idGenTableRowColumn-16 {
	width:55px;
}
tr._idGenTableRowColumn-17 {
	min-height:13px;
}
tr._idGenTableRowColumn-18 {
	min-height:10px;
}
col._idGenTableRowColumn-19 {
	width:60px;
}
col._idGenTableRowColumn-20 {
	width:101px;
}
col._idGenTableRowColumn-21 {
	width:91px;
}
col._idGenTableRowColumn-22 {
	width:38px;
}
col._idGenTableRowColumn-23 {
	width:196px;
}
col._idGenTableRowColumn-24 {
	width:45px;
}
#_idContainer001 {
	display:inline-block;
	width:6.63%;
}
#_idContainer002 {
	display:inline-block;
	width:9.61%;
}
#_idContainer006 {
	height:88.51%;
	left:0.02%;
	position:absolute;
	top:0%;
	width:99.97%;
	z-index:0;
}
#_idContainer007 {
	height:11.49%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:88.51%;
	width:100.00%;
	z-index:1;
}
#_idContainer008 {
	display:inline-block;
	padding:63.60% 0% 0% 0%;
	position:relative;
	width:76.54%;
}
#_idContainer010 {
	display:inline-block;
	width:36.99%;
}
#_idContainer011 {
	height:30.58%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:69.42%;
	width:100.00%;
	z-index:1;
}
#_idContainer012 {
	height:69.42%;
	left:10.15%;
	position:absolute;
	top:0%;
	width:79.70%;
	z-index:0;
}
#_idContainer013 {
	display:inline-block;
	padding:37.35% 0% 0% 0%;
	position:relative;
	width:76.54%;
}
#_idContainer014 {
	height:45.96%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:54.04%;
	width:100.00%;
	z-index:1;
}
#_idContainer015 {
	height:56.19%;
	left:4.88%;
	position:absolute;
	top:0%;
	width:90.24%;
	z-index:0;
}
#_idContainer016 {
	display:inline-block;
	padding:38.29% 0% 0% 0%;
	position:relative;
	width:76.54%;
}
#_idContainer017 {
	display:inline-block;
	width:76.59%;
}
#_idContainer019 {
	height:25.43%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:74.57%;
	width:100.00%;
	z-index:1;
}
#_idContainer020 {
	height:74.57%;
	left:21.59%;
	position:absolute;
	top:0%;
	width:56.83%;
	z-index:0;
}
#_idContainer021 {
	display:inline-block;
	padding:53.02% 0% 0% 0%;
	position:relative;
	width:76.54%;
}
#_idContainer023 {
	display:inline-block;
	width:37.95%;
}
#_idContainer024 {
	height:34.41%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:65.59%;
	width:100.00%;
	z-index:1;
}
#_idContainer025 {
	height:65.59%;
	left:1.61%;
	position:absolute;
	top:0%;
	width:96.78%;
	z-index:0;
}
#_idContainer026 {
	display:inline-block;
	padding:63.10% 0% 0% 0%;
	position:relative;
	width:76.54%;
}
#_idContainer027 {
	height:42.16%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:57.84%;
	width:100.00%;
	z-index:1;
}
#_idContainer028 {
	height:57.88%;
	left:0.62%;
	position:absolute;
	top:0%;
	width:98.76%;
	z-index:0;
}
#_idContainer029 {
	display:inline-block;
	padding:56.49% 0% 0% 0%;
	position:relative;
	width:76.54%;
}
#_idContainer030 {
	height:27.30%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:72.70%;
	width:100.00%;
	z-index:1;
}
#_idContainer031 {
	height:72.70%;
	left:0.67%;
	position:absolute;
	top:0%;
	width:98.65%;
	z-index:0;
}
#_idContainer032 {
	display:inline-block;
	padding:56.93% 0% 0% 0%;
	position:relative;
	width:76.54%;
}
#_idContainer033 {
	height:75.55%;
	left:0%;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:0;
}
#_idContainer034 {
	height:24.44%;
	left:0.02%;
	overflow:hidden;
	position:absolute;
	top:75.56%;
	width:99.95%;
	z-index:1;
}
#_idContainer035 {
	display:inline-block;
	padding:55.16% 0% 0% 0%;
	position:relative;
	width:76.58%;
}
#_idContainer036 {
	height:16.23%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:83.77%;
	width:100.00%;
	z-index:1;
}
#_idContainer037 {
	height:83.77%;
	left:13.43%;
	position:absolute;
	top:0%;
	width:73.13%;
	z-index:0;
}
#_idContainer038 {
	display:inline-block;
	padding:45.03% 0% 0% 0%;
	position:relative;
	width:76.54%;
}
#_idContainer039 {
	height:20.47%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:79.53%;
	width:100.00%;
	z-index:1;
}
#_idContainer040 {
	height:79.53%;
	left:11.77%;
	position:absolute;
	top:0%;
	width:76.45%;
	z-index:0;
}
#_idContainer041 {
	display:inline-block;
	padding:45.76% 0% 0% 0%;
	position:relative;
	width:76.54%;
}
#_idContainer042 {
	height:25.82%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:37.09%;
	width:48.39%;
	z-index:1;
}
#_idContainer043 {
	height:100.00%;
	left:51.61%;
	position:absolute;
	top:0%;
	width:48.39%;
	z-index:0;
}
#_idContainer044 {
	display:inline-block;
	padding:37.07% 0% 0% 0%;
	position:relative;
	width:76.53%;
}
#_idContainer047 {
	height:50.48%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:49.52%;
	width:100.00%;
	z-index:1;
}
#_idContainer048 {
	height:52.51%;
	left:6.95%;
	position:absolute;
	top:0%;
	width:86.10%;
	z-index:0;
}
#_idContainer049 {
	display:inline-block;
	padding:22.63% 0% 0% 0%;
	position:relative;
	width:76.54%;
}
#_idContainer050 {
	height:34.40%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:65.60%;
	width:100.00%;
	z-index:1;
}
#_idContainer051 {
	height:68.23%;
	left:2.79%;
	position:absolute;
	top:0%;
	width:94.41%;
	z-index:0;
}
#_idContainer052 {
	display:inline-block;
	padding:45.17% 0% 0% 0%;
	position:relative;
	width:76.54%;
}
#_idContainer054 {
	height:25.94%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:74.06%;
	width:100.00%;
	z-index:1;
}
#_idContainer055 {
	height:76.08%;
	left:20.13%;
	position:absolute;
	top:0%;
	width:59.74%;
	z-index:0;
}
#_idContainer056 {
	display:inline-block;
	padding:58.61% 0% 0% 0%;
	position:relative;
	width:76.54%;
}
#_idContainer057 {
	height:29.65%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:35.71%;
	width:47.52%;
	z-index:1;
}
#_idContainer058 {
	height:100.00%;
	left:49.77%;
	position:absolute;
	top:0%;
	width:50.23%;
	z-index:0;
}
#_idContainer059 {
	display:inline-block;
	padding:32.28% 0% 0% 0%;
	position:relative;
	width:76.54%;
}
#_idContainer061 {
	height:25.41%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:74.59%;
	width:100.00%;
	z-index:1;
}
#_idContainer062 {
	height:77.46%;
	left:18.15%;
	position:absolute;
	top:0%;
	width:63.71%;
	z-index:0;
}
#_idContainer063 {
	display:inline-block;
	padding:41.36% 0% 0% 0%;
	position:relative;
	width:76.54%;
}
#_idContainer064 {
	height:20.74%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:79.26%;
	width:100.00%;
	z-index:1;
}
#_idContainer065 {
	height:81.42%;
	left:19.34%;
	position:absolute;
	top:0%;
	width:61.32%;
	z-index:0;
}
#_idContainer066 {
	display:inline-block;
	padding:55.08% 0% 0% 0%;
	position:relative;
	width:76.54%;
}
#_idContainer067 {
	display:inline-block;
	width:77.16%;
}
img._idGenObjectAttribute-1 {
	width:4.84%;
}
img._idGenObjectAttribute-2 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-3 {
	width:29.30%;
}
img._idGenObjectAttribute-4 {
	width:34.52%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
