@{
    ViewBag.Title = "Contact Us";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 xs-nopadding">
            <ul class="breadcrumb">
                <li class="active">Contact Us</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-12 col-xs-12 xs-marbot30 xs-nopadding">
    <div class="help-wrapper">
        <h2 class="about-title">Welcome to the Pre-Placement Self-Assessment Program.</h2>
        <hr />

        <h3 class="sub-title">Need Help?</h3>
        <p class="discussion-content">If you have questions about the Pre-Placement Self-Assessment Program or any other query, please contact the Customer Service:</p>
        <ul class="discussion-content">
            <li>By Phone: +91-7400267154 or +91-7385415148</li>
            <li>By Email: <a href="mailto:member.services2024@gmail.com" target="_blank">member.services2024@gmail.com</a></li>
        </ul>

        <p class="discussion-content">Customer service representatives are available to assist you Monday to Friday from 9:30 a.m. to 5:30 p.m.</p>
    </div>
</div>



