@{
    ViewBag.Title = "PrivacyPolicy";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 xs-nopadding">
            <ul class="breadcrumb">
                <li class="active">Privacy Policy</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-12 col-xs-12 xs-marbot30 xs-nopadding">
    <div class="help-wrapper">
        <h2 class="about-title">Welcome to the Pre-Placement Self-Assessment Program.</h2>
        <hr />

        <h3 class="sub-title">Privacy Policy</h3>
        <div>
            <p class="discussion-content">We operates the Pre-Placement Self Assessment Program (PPSAP). This Privacy Policy outlines how we collect, use, and protect the personal information of users who access or use our Website.</p>

            <h3 class="sub-title">Information We Collect</h3>
            <ul class="discussion-content">
                <li><strong>Personal Information:</strong> When you create an account or use certain features of the Website, we may collect personal information such as your name, email address, and any other information you provide voluntarily</li>
                <li><strong>Usage Information:</strong> We may automatically collect certain information about your device and how you interact with the Website, including your IP address, browser type, pages visited, and timestamps.</li>
            </ul>

            <h3 class="sub-title">How We Use Your Information</h3>
            <ul class="discussion-content">
                <li>
                    We may use the information we collect to:
                    <ul>
                        <li>Provide and improve the Website's functionality and user experience.</li>
                        <li>Communicate with you regarding your account, updates, and important notifications.</li>
                        <li>Analyze trends and usage patterns to optimize the Website's performance and content.</li>
                        <li>Comply with legal obligations and enforce our Terms of Service.</li>
                    </ul>
                </li>
            </ul>

            <h3 class="sub-title">Data Security</h3>
            <p class="discussion-content">We take reasonable measures to protect the security and confidentiality of your personal information. However, no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee absolute security.</p>

            <h3 class="sub-title">Changes to this Privacy Policy</h3>
            <p class="discussion-content">We reserve the right to update or modify this Privacy Policy at any time without prior notice. Any changes will be effective immediately upon posting on the Website. Your continued use of the Website after any such changes constitutes your acceptance of the revised Privacy Policy.</p>
        </div>
        <hr />
        <h3 class="sub-title">Need More Help?</h3>
        <p class="discussion-content">If you have questions about the Pre-Placement Self-Assessment Program or any other query, please contact the Customer Service:</p>
        <ul class="discussion-content">
            <li>By Phone: +91-7400267154 or +91-7385415148</li>
            <li>By Email: <a href="mailto:member.services2024@gmail.com" target="_blank">member.services2024@gmail.com</a></li>
        </ul>

        <p class="discussion-content">Customer service representatives are available to assist you Monday to Friday from 9:30 a.m. to 5:30 p.m.</p>
    </div>
</div>

