@{
    ViewBag.Title = "Terms of Service";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 xs-nopadding">
            <ul class="breadcrumb">
                <li class="active">Terms of Service</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-12 xs-nopadding">
    <div class="content-bg">
        <div class="content-padding">
            <h2 class="about-title" id="aboutProgram">Terms of Service</h2>
            <p class="discussion-content martop20">
                By accessing or using the Pre-Placement Self Assessment Program, you agree to abide by these Terms of Service. If you do not agree with any of these terms, please refrain from using the Website.
            </p>

            <hr />

            <h3 class="about-title">Description of Service</h3>
            <p class="discussion-content">
                The Website provides a platform for pre-placement self-assessment multiple-choice questions (MCQs) designed to assist users in evaluating their skills and knowledge for potential employment opportunities.
            </p>
            <h3 class="about-title">User Accounts</h3>
            <p class="discussion-content">
                To access certain features of the Program, you may be required to create a user account. By creating an account, you affirm that your information provided is accurate and complete.
            </p>
            <h3 class="about-title">User Conduct</h3>
            <p class="discussion-content">
                Users agree to use the Program in accordance with all applicable laws and regulations and refrain from engaging in any activity that may be harmful to others or to the Program itself. Prohibited illegal activities.
            </p>
            <h3 class="about-title">Intellectual Property Rights</h3>
            <p class="discussion-content">
                All content on the Website, including but not limited to text, graphics, logos, and images, is the property of PPSAP or its licensors and is protected by copyright, trademark, and other intellectual property laws.
            </p>
            <h3 class="about-title">Privacy Policy</h3>
            <p class="discussion-content">
                Please review our <a href="@Url.Content("~/Home/PrivacyPolicy")">Privacy Policy</a> to understand how we collect, use, and protect your personal information.
            </p>
            <h3 class="about-title">Disclaimer of Warranties</h3>
            <p class="discussion-content">
                The Program is provided "as is" without warranties of any kind, whether express or implied. PPSAP does not guarantee the accuracy, reliability, or completeness of any content on the Website.
            </p>
            <h3 class="about-title">Governing Law and Dispute Resolution</h3>
            <p class="discussion-content">
                These Terms of Service shall be governed by and construed in accordance with the laws. Any dispute arising out of or relating to these terms shall be subject to the exclusive jurisdiction of the courts.
            </p>
            <h3 class="about-title">Changes to Terms</h3>
            <p class="discussion-content">
                PPSAP reserves the right to update or modify these Terms of Service at any time without prior notice. Continued use of the Website after any such changes shall constitute your consent to such changes.
            </p>
            <h3 class="about-title">Termination</h3>
            <p class="discussion-content">
                PPSAP reserves the right to terminate or suspend your account and access to the Website at any time, with or without cause, and without prior notice.
            </p>

            <hr>
            <h3 class="sub-title">Need More Help?</h3>
            <p class="discussion-content">If you have questions about the Pre-Placement Self-Assessment Program or any other query, please contact the  Customer Service:</p>
            <ul class="discussion-content">
                <li>By Phone: +91-7400267154 or +91-7385415148</li>
                <li>By Email: <a href="mailto:member.services2024@gmail.com" target="_blank">member.services2024@gmail.com</a></li>
            </ul>

            <p class="discussion-content">Customer service representatives are available to assist you Monday to Friday from 9:30 a.m. to 5:30 p.m.</p>

            @*<h3 class="about-title">Additional Support</h3>
        <p class="discussion-content">Use the “<strong>Help</strong>” link at the top of any screen to view the Help topics. From the Help Menu select a specific topic e.g. Navigation, CME Information, Notes, etc.</p>*@
        </div>
    </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script>
    //Responsive tabs / accordion
    $('.responsive-tabs').responsiveTabs({
        accordionOn: ['xs', 'sm']
    });
</script>
